.wrap {
  background-color: #06d3ff;
  height: 50vh;
  padding-top: 40px;
}

.carousel {
  position: relative;
  margin: 0 auto;
  width: 430px;
  height: 297px;
  overflow: hidden;
  border: 15px solid white;
}

.slides {
  padding: 0;
  margin: 0;
  width: 2000px;
}

.slides li {
  list-style: none;
  float: left;
  width: 400px;
}

.drivers {
  position: absolute;
  display: flex;
  height: 267px;
  width: 400px;
  align-items: center;
  justify-content: space-between;
}

.drivers img {
  height: 24px;
}

.leftRow {
  display: flex;
  align-items: center;
  height: 100%;
  margin-top: -20px;
  transition: all 0.3s;
}

.leftRow:hover {
  cursor: pointer;
}

.rightRow {
  display: flex;
  align-items: center;
  height: 100%;
  margin-top: -20px;
  transition: all 0.3s;
}

.rightRow:hover {
  cursor: pointer;
}

.dots {
  list-style-type: none;
  padding: 0;
  text-align: center;
}
.dots .dot {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: solid thin black;
  cursor: pointer;
}
.dots .dot:hover {
  background-color: rgba(0, 0, 0, .5);
}
.dots .dot.active {
  background-color: #000;
}

